/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run UHVDB/proteinfunction -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '7.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name         = 'Test protein function'
    config_profile_description  = 'Minimal test dataset to check UHVDB/proteinfunction'

    // Input data
    input_faa       = "assets/test_datasets/test.faa"
    output          = "protein_similarity.csv"
}
